.Stats {
    display: block;
    justify-content: center;
    margin: auto;
    padding: 20px;

    h1 {
        text-align: center;
    }

    .dropdown {
        text-align: center;
    }

    .statistics {
        text-align: center;
    }

    .song-list {
        padding-top: 15px;
    }

    .single-song {
        padding: 3px;
    }
}