.SongsList {
    text-align: center;
    padding: 20px;

    h1 {
        margin: 0;
    }
    
    .songs {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .song {
        margin-top: 8px;
    }
}