.Show {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    background-color: #003300;
    color: white;

    h2 {
        margin-top: 0px;
        color: lightgrey;
    }

    p {
        text-align: left;
    }
    
    .set-title {
        color: orange;
    }
    
    .button-group button{
        margin: 5px;
    }
    
    h3 {
        margin-top: 10px;
    }

    a {
        color: white;
        &:hover {
            color: orange;
        }
    }

    .gallery {
        div {
            display: inline-block;
            margin: 5px;
        }
    }

    .card {
        color: orange;
        background-color: orange;
    }

    .audio-card {
        // display: flex;
        text-align: center;

        img {
            width: 100%;
        }

        .content {
            width: 100%;
        }

        audio {
            width: 100%;
        }
    }
}