.Show {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    background-color: #003300;
    color: white;

    h2 {
        margin-top: 0px;
        color: lightgrey;
    }

    p {
        text-align: left;
    }
    
    .set-title {
        color: orange;
    }
    
    .button-group button{
        margin: 5px;
    }
    
    h3 {
        margin-top: 10px;
    }

    a {
        color: white;
        &:hover {
            color: orange;
        }
    }

    .gallery {
        div {
            display: inline-block;
            margin: 5px;
        }
    }

    .card {
        color: orange;
        background-color: orange;
    }

    .audio-card {
        // display: flex;
        text-align: center;

        img {
            width: 100%;
        }

        .content {
            width: 100%;
        }

        audio {
            width: 100%;
        }
    }

    .audio-recs {
        font-size: 1.1em;
        position: fixed;
        // float: right;
        right: 0;
        bottom: 50px;
        z-index: 3;
        text-align: left;
        border: thin solid white;
        background-color: orange;
        div {
            display: block;
        }

        a {
            color: black;
            &:hover {
                color: white;
            }
        }
    }

    .youtube-section{

        .youtube-video {
            display: inline-block;
            height: 350px;
            width: 500px;
            margin: 5px;
            padding: 0;
        }
    }
}