.ShowsList {
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: center; */
    /* width: 80%; */
    /* margin: auto; */
    padding: 30px;
    background: lightgrey;
}

.cards {
    margin: 12px auto;
    justify-content: center;
}